/*
got rid of a text-align: center; below
when i did this only news stopped showing up????????????
put it back and it works again wtf

*/
.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Our LOGO */
.Site-logo {
  height: 15vmin;
  pointer-events: none;
  align-items: center;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}
/*\
above was originally
background-color: #d4d4d4;
color: rgb(0, 0, 0);
*/

.Site-header {
  background-color: #ffffff;
  min-height: 5vh; /* how far down our header goes*/
  /*display: flex;*/
  /*flex-direction: column;*/
  display: flex;
  align-items: center; 
  align-content: space-around;
  justify-content: center;
  font-size: calc(45px + 2vmin);
  font-family: "Garamond";
  font-weight: bold;
  text-align: left;
  position: relative;
  top: -5px;
  /*line-height:10px;*/
  color: rgb(0, 0, 0);
  
}

.App-link {
  color: #bdbdbd;
}
/*
un-commenting to change color from blue
*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
THIS WILL EFFECT EVERY PAGE
changed margin from 50->200
*/
p {
  color: black;
  font-size: 18px;
  margin: 200px;
  
}

/*
NEWS
*/
p.news {
  color: black;
  font-size: 20px;
  margin: 20px 400px 20px;
  
}

h4.news {
  text-align:right;
}

ul.news {
  text-align:justify;
  color: black;
  font-size: 20px;
  margin: 20px 500px 20px;
}

