/*
    it doesn't feel like this file is effecting contact/news
    moved into pages to see how it changes
    //couldn't publish when it was in pages?
    rather it would publich, but coudlnt find the deployment
    div {
    text-align: left;
    color: blue;
}
*/



body {
    margin: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  /*
  tried adding "!important" (color: blue !important;)
  it did not overwrite anything
  */
  p {
    margin: 50px;
    color: blue;
    font-size: 16px;
  }
  